body {
    background-color: antiquewhite; 
}

div {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
    border: 20px;
    height: 50px;
    width: 50px;
    color: rgb(12, 12, 12);
}

.section1 {
    color: plum;
    align-content: center;
}